body {
    margin: 0;
    background-color: #f0e7e5;
}

header {
    background-color: #285991;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
    gap: 20px;
}

nav ul li {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 25px;
    background-color: #0099ff;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #007acc;
    transform: scale(1.05);
    color: #000000;
}

.launching-soon {
    background-image: url('imagenes/fe061a9c5940139c7030907e8830a209.jpg');
    text-align: center;
    padding: 50px 20px; /* Asegúrate de que la ruta de la imagen sea correcta */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 400px; /* Altura fija */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.launching-soon h2 {
    margin: 0;
    color: #9edbff;
    font-size: 48px;
    text-shadow: 2px 2px #00000093;
    font-family: "Pacifico", cursive;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.aboutus, .mission-objectives {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Comfortaa', sans-serif;
    width: 48%;
}

.titulo1, .titulo2, .titulo3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
}

.aboutus p, .mission-objectives p, .mission-objectives ul {
    color: #666;
    line-height: 1.6;
    margin-bottom: 10px;
}

.mission-objectives ul {
    list-style-type: disc;
    margin-left: 20px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .aboutus, .mission-objectives {
        width: 100%;
    }

    .launching-soon {
        height: 300px;
    }

    .launching-soon h2 {
        font-size: 36px;
    }
}
